go 1.21.5

use (
	./buildapi
	./conversion
	./defer
	./files
	./functions
	./golangtesting
	./hello
	./ifelse
	./loops
	./methods
	./mongoapi
	./myarray
	./myjson
	./mymaps
	./mymodules
	./mypointers
	./myslices
	./mystruct
	./mytime
	./switchcase
	./urlhandeling
	./userinput
	./variables
	./webrequests
)
