go 1.21.5

use (
	./conversion
	./defer
	./files
	./functions
	./hello
	./ifelse
	./loops
	./methods
	./myarray
	./mymaps
	./mypointers
	./myslices
	./mystruct
	./mytime
	./switchcase
	./userinput
	./variables
)
